<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="logoBox">
            <img id="logo" src="/static/img/logo.png" alt="">
            <!-- <img src="" alt="" class="logo"> -->
        </div>

        <ul>
            <li><a href="/biblotekisti">Shto Lexues</a></li>
            <li><a href="/shtoLiber">Shto Liber</a></li>
            <li> <a style="color:black" href="/logout">Logout</a> </li>
        </ul>
    </nav>

</body>

</html>