@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

        * {
            box-sizing: border-box;
            margin: 0;
        }

        body {
            font-family: 'Roboto';
            background-image: linear-gradient(0deg, #fdfbfb 0%, #ddd 100%);
            height: 100%;
            margin: 0;
            background-repeat: no-repeat;
            background-attachment: fixed;
            overflow-x:hidden;
        }

        nav {
            display: flex;
            align-items: center;
            background-color: #ddd;
            padding:1% 15%;
            color: white;
            text-transform: uppercase;
        }

        nav ul {
            display: flex;
            list-style: none;
            justify-content: space-around;
            flex-grow: 1;
            letter-spacing: 3px;
        }

        .logoBox {
            flex-grow: 2;
        }

        #logo {
            width: 5%;
        }


        nav ul li a {
            text-decoration: none;
            color : white;
        }
        